<!DOCTYPE html>
<html>

<head>
	<meta property="og:title" content="ZOoTR Sim" />
	<meta property="og:description" content="Simulator to practice and play Ocarina of Time Randomizer seeds." />
	<meta property="og:url" content="http://scatter.live/zootr-sim" />
	<meta property="og:image" content="http://scatter.live/images/zootr-sim/ocarina.png" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="ZOoTR Sim" />
	<meta name="twitter:description" content="Simulator to practice and play Ocarina of Time Randomizer seeds." />
	<meta name="twitter:image" content="http://scatter.live/images/zootr-sim/ocarina.png" />
	<meta property="og:site_name" content="scatter.live" />
	<meta name="twitter:site" content="@scattertv" /><!-- Global site tag (gtag.js) - Google Analytics -->
	<title>ZOoTR Sim</title>
	<link rel="stylesheet" type="text/css" href="css/zootr-sim.css">
	<link rel="shortcut icon" href="favicon/zootr-sim/favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon/zootr-sim/favicon.ico" type="image/x-icon">
</head>

<body class="{{darkModeOn ? 'dark-mode' : ''}}" ng-app="zootrSim" ng-controller="simController">
	<div class="headerbar noselect">
		<div class="title"> <img src="images/zootr-sim/ocarina.png" width="50px" height="50px"
				draggable="false"><span>ZOoTR Sim</span></div>
		<div class="hash"><span class="hash-label" ng-if="fsHash.length &gt; 0">HASH</span>
			<div class="hash-item" ng-repeat="x in fsHash track by $index" id="{{x}}"
				style="background-image: url('images/zootr-sim/{{hashImages[x]}}')"></div>
		</div><span class="credit">made by scatter / updated by fanta</span>
	</div><a href="" ng-click="toggleDarkMode()" id="dark-mode-toggle">{{darkModeOn ? 'Light' : 'Dark'}} Mode</a><a
		href="" ng-click="downloadSpoilerLog()" ng-if="currentSpoilerLog != ''" id="spoiler-download">Download Spoiler
		Log</a>
	<div class="mainbody">
		<div class="praise" ng-show="!playing">PRAISE FOR ZOOTR SIM</div><br ng-show="!playing">
		<div class="quotecontainer" ng-show="!playing">
			<figure class="quote">
				<blockquote class="curly-quotes">only reason i made it to grands</blockquote>
				<figcaption class="quote-by">- Whatthehellshappened</figcaption>
			</figure>
		</div>
		<div class="start" ng-show="!playing">	
			<div class="startright"><span class="header">Upload a log</span><br><span class="subheader">Upload a
					preexisting v6.1 spoiler log</span><br><br><input type="file" id="files"
					custom-on-change="fileSelected" ng-model="file"></div><br>{{spoiler}}
		</div><span ng-show="playing &amp;&amp; !finished">
			<div class="lastchecked">{{lastchecked}}</div><br>
			<div class="main tracker">
				<div class="trackerinner">
					<div class="items">
						<div class="{{itemCounts[x] &gt; 0 || x == 'Progressive Wallet' ? '' : 'disable'}} item"
							ng-repeat="x in itemgrid track by $index" ng-if="x != 'break'" id="{{x}}"
							style="background-image: url('images/zootr-sim/{{getImage(x, itemCounts[x])[0]}}')"></div>
					</div>
					<div class="dungeons">
						<div class="dungeon" ng-repeat="dungeon in dungeongrid" id="{{dungeon | removeSpaces}}">
							<div class="dungeontitle"
								style="background-image:url('images/zootr-sim/{{nameToImageTitle[dungeon]}}')"></div>
							<div class="{{currentItemsAll.includes(knownMedallions[dungeon]) ? '' : 'disable'}} medallionimage"
								style="background-image: url('images/zootr-sim/{{getMedallionImage(dungeon)}}')"></div>
							<div class="{{itemCounts['Small Key ('+dungeon+')'] &gt; 0 ? '' : 'disable'}} smallkeyimage"
								ng-if="hasKeys(dungeon)"
								style="background-image: url('images/zootr-sim/{{itemCounts['Small Key ('+dungeon+')'] &gt; 0 ? itemCounts['Small Key ('+dungeon+')'] : 'small_key'}}.png')">
							</div>
							<div class="{{itemCounts['Boss Key ('+dungeon+')'] &gt; 0 ? '' : 'disable'}} bosskeyimage"
								ng-if="hasBossKey(dungeon)"
								style="background-image: url('images/zootr-sim/boss_key.png')"></div>
						</div>
					</div>
				</div><br><br><span ng-if="countChus() - usedChus &gt; 0">Bombchus: {{countChus() - usedChus}} </span><a
					class="useChu" ng-if="countChus() - usedChus &gt; 0" ng-click="useChu()">Use Bombchu</a><br><br><a
					ng-if="currentItemsAll.includes('Farores Wind') &amp;&amp; currentItemsAll.includes('Magic Meter') &amp;&amp; ((currentAge == 'Child' &amp;&amp; windRegionChild == '') || (currentAge == 'Adult' &amp;&amp; windRegionAdult == ''))"
					ng-click="setWind()">Set Wind</a><a
					ng-if="currentItemsAll.includes('Farores Wind') &amp;&amp; currentItemsAll.includes('Magic Meter') &amp;&amp; ((currentAge == 'Child' &amp;&amp; windRegionChild != '') || (currentAge == 'Adult' &amp;&amp; windRegionAdult != ''))"
					ng-click="recallWind()">Recall Wind
					({{currentAge == 'Child' ? windRegionChild : windRegionAdult}})</a>
			</div>
			<div class="main current">
				<div class="currentinner">
					<p>Current Region: {{currentRegion}} [{{currentAge}}]</p>

					<img class="peekicon"
						ng-repeat-start="loc in getAvailableLocations()"
						ng-if="(loc.includes('Freestanding') || loc == 'Underwater Bottle') &amp;&amp; !hasPeeked(loc)"
						ng-click="peekAt(loc)" src="images/zootr-sim/eye.png" draggable="false">

					<a class="location"						
						ng-if="!checkedLocations.includes(loc) &amp;&amp; shouldAppearInLocations(loc)"
						ng-click="checkLocation(loc)" id="{{loc}}">{{loc}}<br></a><span class="checked" ng-repeat-end

						ng-if="checkedLocations.includes(loc)">{{ loc }}<br></span><br><a class="entrance"
						ng-repeat="entrance in getAvailableEntrances()" ng-click="takeEntrance(entrance)"
						id="{{entrance}}">-> To {{entrance}}<br>
					</a>
					<p ng-if="collectedWarps.length &gt; 0">WARPS </p><a class="entrance"
						ng-repeat="warp in collectedWarps" ng-click="takeEntrance(warp)" id="{{warp}}">-> Play
						{{warp}}<br></a><br><a class="entrance" id="Savewarp {{currentAge}}"
						ng-click="takeEntrance('Savewarp ' + currentAge)">-> Savewarp to
						{{currentAge == 'Child' ? child_spawn_text : adult_spawn_text}}</a><br>
				</div>
			</div>
			<div class="main hints"><span>AVAILABLE HINTS</span><br><br><a class="hint"
					ng-repeat-start="(k,v) in gossipHints[currentRegion]"
					ng-if="!checkedHints.includes(currentRegion + ' ' + k)" ng-click="checkHint(k)"
					id="{{k}}">{{k}}<br></a><span class="hint checked" ng-repeat-end
					ng-if="checkedHints.includes(currentRegion + ' ' + k)">{{k}}<br></span><br>
				<table class="hint-table">
					<tr>
						<th colspan="2">KNOWN HINTS</th>
					</tr>
					<tr ng-repeat="loc in knownHints | reverseObj">
						<td class="hint-loc">{{loc}}</td>
						<td class="hint-item">{{knownHints[loc].join(', ')}}</td>
					</tr>
				</table><br>
			</div>
			<div class="main shops" ng-if="isShopsanity"><span>{{currentShop() || 'No Shop'}}</span>
				<div class="shopgrid" ng-if="currentShop() != ''">
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][7].item}}"
						title="{{shopContents[currentShop()][7].item}}" ng-click="buyItem(7)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][7].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][7].item)}}');">
					</div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][5].item}}"
						title="{{shopContents[currentShop()][5].item}}" ng-click="buyItem(5)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][5].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][5].item)}}');">
					</div>
					<div class="shopchild shopnpc"
						style="background-image:url('images/zootr-sim/{{shopNPCs[currentShop()]}}')"> </div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][1].item}}"
						title="{{shopContents[currentShop()][1].item}}" ng-click="buyItem(1)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][1].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][1].item)}}');">
					</div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][3].item}}"
						title="{{shopContents[currentShop()][3].item}}" ng-click="buyItem(3)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][3].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][3].item)}}');">
					</div>
					<div class="shopchild shopprice" ng-click="buyItem(7)">{{shopContents[currentShop()][7].cost}}</div>
					<div class="shopchild shopprice" ng-click="buyItem(5)">{{shopContents[currentShop()][5].cost}}</div>
					<div class="shopchild shopprice" ng-click="buyItem(1)">{{shopContents[currentShop()][1].cost}}</div>
					<div class="shopchild shopprice" ng-click="buyItem(3)">{{shopContents[currentShop()][3].cost}}</div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][6].item}}"
						title="{{shopContents[currentShop()][6].item}}" ng-click="buyItem(6)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][6].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][6].item)}}');">
					</div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][4].item}}"
						title="{{shopContents[currentShop()][4].item}}" ng-click="buyItem(4)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][4].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][4].item)}}');">
					</div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][0].item}}"
						title="{{shopContents[currentShop()][0].item}}" ng-click="buyItem(0)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][0].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][0].item)}}');">
					</div>
					<div class="shopchild shopitem" alt="{{shopContents[currentShop()][2].item}}"
						title="{{shopContents[currentShop()][2].item}}" ng-click="buyItem(2)"
						style="background-image:url('images/zootr-sim/{{shopContents[currentShop()][2].bought ? 'soldout.png' : getShopImage(shopContents[currentShop()][2].item)}}');">
					</div>
					<div class="shopchild shopprice" ng-click="buyItem(6)">{{shopContents[currentShop()][6].cost}}</div>
					<div class="shopchild shopprice" ng-click="buyItem(4)">{{shopContents[currentShop()][4].cost}}</div>
					<div class="shopchild shopprice" ng-click="buyItem(0)">{{shopContents[currentShop()][0].cost}}</div>
					<div class="shopchild shopprice" ng-click="buyItem(2)">{{shopContents[currentShop()][2].cost}}</div>
					<div class="shopchild shopspacer"></div>
				</div><a ng-repeat-start="shop in otherShops()" ng-click="setShop(shop)">{{shop}}</a><br ng-repeat-end>
			</div>
			<div class="main skulls">
				<div class="skullsinner">
					<p>Gold Skulltulas [{{itemCounts['Gold Skulltula Token']}}/100]</p><a class="location"
						ng-repeat-start="skull in getAvailableSkulltulas()" ng-if="!checkedLocations.includes(skull)"
						ng-click="checkLocation(skull)" id="{{skull}}">{{skull}}<br></a><span class="location checked"
						ng-repeat-end ng-if="checkedLocations.includes(skull)">{{skull}}<br></span>
				</div>
			</div><br><br><a class="{{actions.length == 0 ? 'disabled-button' : ''}} button" ng-click="undoCheck()"
				id="undo">Undo</a><a class="button" id="reset" ng-click="throwAway()">This seed sucks, throw it away</a>
		</span><span ng-show="finished">
			<h1>Congratulations!</h1><span>Total checks made:</span>
			<h1 style="margin-top:0">{{numChecksMade}}/{{totalChecks}}</h1>
			<h2>Route</h2>
			<div class="routecontainer">
				<div class="route main">{{route}}</div>
				<div class="routebuttons"><a class="button" ng-click="copyRoute()" id="copyroute">Copy to
						clipboard</a><br><br><a class="button" ng-click="saveRoute()" id="saveroute">Save to .txt
					</a><span class="copied-anim" ng-show="copying" id="copied">Copied!</span></div>
			</div><br><br><a class="button" ng-click="throwAway()" id="reset">Another one</a><a class="button"
				ng-click="finished = false" id="unend">Take me back</a>
		</span>
	</div>
	<div class="footer"> <a href="https://github.com/FantaTanked/zootr-sim-offline/issues/new?title=[zootr-sim-offline]">Report an
			Issue</a></div>
	<script src="js/jquery-3.3.1.js"></script>
	<script src="js/localforage.min.js"></script>
	<script type="text/javascript" src="js/FileSaver.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/static.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
</body>

</html>